@page "/counter"
@using CreativeCoders.AspNetCore.Blazor.Components.Buttons

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<CcCustomButton ElementType="@(ButtonElementType.Div)" Clicked="@(x => IncrementCount())" class="btn-primary">Click me</CcCustomButton>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
